In [1]:
from sklearn.linear_model import LinearRegression
import numpy as np
import pandas as pd

In [2]:
# Importing data
batch1 = pd.read_parquet('../batches_train/batch_1_repartitions/part.0.parquet')
sensor_geom = pd.read_csv('../sensor_geometry.csv')

In [27]:
# Importing meta data
meta = pd.read_parquet('../batches_train/train_meta.parquet')

In [70]:
# Part of meta that we need
meta_batch1 = meta[meta.event_id.isin(event_ids)]

In [71]:
meta_batch1.head()

   batch_id  event_id  first_pulse_index  last_pulse_index   azimuth    zenith
0         1        24                  0                60  5.029555  2.087498
1         1        41                 61               111  0.417742  1.549686
2         1        59                112               147  1.160466  2.401942
3         1        67                148               289  5.845952  0.759054
4         1        72                290               351  0.653719  0.939117

In [4]:
from sklearn.model_selection import train_test_split

In [5]:
event_ids = list(set(batch1.index))

In [6]:
train_indices, test_indices = train_test_split(event_ids,
                                               shuffle=True,
                                               random_state=123,
                                               test_size=0.25)

In [ ]:
num_sensors = 5160

In [61]:
df = pd.DataFrame(columns=[i for i in range(0, num_sensors)]+['az','ze'])

In [62]:
df

Empty DataFrame
Columns: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, ...]
Index: []

[0 rows x 5162 columns]

In [63]:
# Now we generate feature data from the raw data
# We use aux = False only here
stop = 20
count = 0

batch1_no_aux = batch1[batch1.auxiliary==False]

for index in train_indices[:100]:
    event = batch1_no_aux.loc[index]

    sensors = event.sensor_id.values

    for sensor in sensors:
        df.loc[index,sensor] = 1

    count = count + 1
    print("Working on event", index)

Working on event 1023496
Working on event 681492
Working on event 38448
Working on event 892244
Working on event 717306
Working on event 397874
Working on event 446488
Working on event 456646
Working on event 620488
Working on event 826185
Working on event 350675
Working on event 53725
Working on event 743817
Working on event 428993
Working on event 467896
Working on event 350278
Working on event 1106292
Working on event 829290
Working on event 563421
Working on event 999004
Working on event 1127587
Working on event 282958
Working on event 279007
Working on event 979694
Working on event 561228
Working on event 106074
Working on event 205319
Working on event 936882
Working on event 196840
Working on event 205945
Working on event 97617
Working on event 846962
Working on event 747164
Working on event 811980
Working on event 459224
Working on event 25279
Working on event 700150
Working on event 794428
Working on event 345055
Working on event 646150
Working on event 513523
Working on event 785920
Working on event 536066
Working on event 452362
Working on event 803535
Working on event 436189
Working on event 1107292
Working on event 805059
Working on event 655603
Working on event 261416
Working on event 263160
Working on event 781404
Working on event 192980
Working on event 513583
Working on event 685705
Working on event 658417
Working on event 907088
Working on event 529193
Working on event 306337
Working on event 522523
Working on event 938782
Working on event 296834
Working on event 528541
Working on event 506434
Working on event 567192
Working on event 198109
Working on event 942431
Working on event 394571
Working on event 518303
Working on event 175979
Working on event 433718
Working on event 433043
Working on event 125598
Working on event 1066985
Working on event 885080
Working on event 227871
Working on event 559519
Working on event 1032782
Working on event 204784
Working on event 98307
Working on event 985883
Working on event 720510
Working on event 864841
Working on event 519673
Working on event 976237
Working on event 187768
Working on event 198798
Working on event 563070
Working on event 910338
Working on event 356167
Working on event 1022727
Working on event 882630
Working on event 312105
Working on event 380025
Working on event 210852
Working on event 775420
Working on event 36543
Working on event 348797
Working on event 291858
Working on event 258091

In [64]:
df

,0,1,2,3,4,5,6,7,8,9,...,5152,5153,5154,5155,5156,5157,5158,5159,az,ze
1023496,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
681492,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38448,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
892244,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
717306,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
775420,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36543,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
348797,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
291858,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
258091,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN